:root {
  /* BACKGROUND COLORS */
  --primary-background: #2a3c44;
  --secondary-background: #30444e;
  --tertiary-background: #3b505a;
  --primary-red: #ff464f;
  --primary-green: #25c685;
  --primary-orange: #ff8a34;
  --primary-yellow: #ffbc25;
  --primary-blue: #005df2;
  --primary-purple: #755fe2;
  --dark-yellow: #625b39;
  --dark-green: #286053;
  --dark-red: #623a42;
  --dark-blue: #163e72;
  --dark-orange: #624d3b;
  --dark-purple: #393d69;
  /* FONT COLORS */
  --primary-font-color: #fff;
  --secondary-font-color: #96a7af;
  /* FONT WEIGHT */
  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-normal: 500;
  --font-weight-heavy: 700;
  /* FONT SIZE */
  --font-size-xs: 0.8rem;
  --font-size-sm: 0.9rem;
  --font-size-md: 1.05rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  /* FONT FAMILY */
  --primary-font-family: "Roboto", sans-serif;
  /* SPACING - MARGIN */
  --primary-margin: 4rem;
  --secondary-margin: 2rem;
  --tertiary-margin: 1rem;
  --quaternary-margin: 0.5rem;
  /* SPACING - PADDING */
  --primary-padding: 2rem;
  --secondary-padding: 1rem;
  --tertiary-padding: 0.5rem;
  --quaternary-padding: 0.25rem;
  /* BOX-SHADOW */
  --box-shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  --box-shadow-medium: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  --box-shadow-heavy: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  /* BORDER-RADIUS */
  --border-radius-light: 0.5rem;
  --border-radius-medium: 1rem;
  --border-radius-heavy: 1.5rem;
  --border-radius-xtra-heavy: 2rem;
}

html,
body {
  margin: 0;
  padding: var(--tertiary-padding);
  box-sizing: border-box;
  background-color: var(--primary-background) !important;
  font-family: var(--primary-font-family) !important;
  user-select: none;
  scroll-behavior: smooth;
  letter-spacing: 0.5px;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #25c685;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: var(--primary-green);
}
*/ */ main-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* NAV-MENU */

.nav-menu {
  box-shadow: var(--box-shadow-medium);
  border: 1px solid var(--primary-green);
  z-index: 9999;
  border-radius: 0;
  width: 3rem;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.menu-item {
  background-color: var(--secondary-background);
  height: 100%;
  text-align: center;
  padding: var(--tertiary-padding);
  cursor: pointer;
}

.fa-home {
  color: var(--primary-green);
}
.fa-desktop {
  color: var(--primary-orange);
}
.fa-linkedin-in {
  color: var(--primary-red);
}
.fa-file {
  color: var(--primary-yellow);
}

/* GITHUB-LINK */
.github-corner > svg {
  z-index: 10000;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* COMPUTER-LOGO */

.computer-logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  padding-bottom: 0;
  background: var(--primary-font-color);
}

/* HOME-GREETING */

.home-greeting-container {
  width: 50%;
  padding-right: var(--secondary-padding);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.home-greeting {
  position: relative;
  width: 25vw;
  min-width: 285px;
  height: 40vh;
  min-height: 300px;
  background-color: var(--secondary-background);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-light);
  padding: var(--primary-padding);
}

.home-greeting .profile-image {
  height: 50px;
  width: 50px;
  background-color: var(--primary-yellow);
  border-radius: var(--border-radius-heavy);
  margin-bottom: var(--tertiary-margin);
  position: relative;
}

.home-greeting .profile-image img {
  position: absolute;
  height: 50px;
  width: 50px;
}

.home-greeting .name {
  color: var(--primary-font-color);
  font-size: var(--font-size-xl);
  padding-bottom: var(--quaternary-padding);
}

.home-greeting .description {
  color: var(--secondary-font-color);
  font-size: var(--font-size-md);
  padding-bottom: var(--quaternary-padding);
}

.home-greeting .greeting {
  font-size: var(--font-size-md);
  border-radius: var(--border-radius-medium);
  color: var(--primary-yellow);
  margin: var(--secondary-margin) 0;
  width: 100%;
}

.code-icon-container {
  position: absolute;
  bottom: var(--primary-padding);
}

.code-icon {
  padding: var(--tertiary-padding) var(--secondary-padding)
    var(--tertiary-padding) 0;
  height: 40px;
  width: 40px;
}

/* TEXT TRANSLATE 3D CARDS */

.projects {
  margin: auto;
  height: 92vh;
  width: 40%;
  user-select: none;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  justify-items: center;
  padding: var(--primary-padding);
}
.projects .project {
  position: relative;
  min-width: 10rem;
  max-width: 10rem;
  height: 22rem;
  color: #fff;
  border-radius: var(--border-radius-heavy);
  transform: rotate(30deg);
  transition: all 0.8s ease;
  overflow: hidden;
  cursor: pointer;
  margin: var(--secondary-margin);
  padding: var(--secondary-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}

.proj-image-container {
  position: relative;
  display: flex;
  height: 30%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-heavy);
  background-color: #ffc542;
}

.proj-image svg {
  width: 100%;
  height: 100%;
}

.project .proj-title {
  position: relative;
  width: 100%;
  font-size: var(--font-size-md);
  margin: var(--secondary-margin) 0 var(--quaternary-margin) 0;
}
.project .proj-description {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
  color: var(--secondary-font-color);
}

.proj-button {
  position: absolute;
  width: 80%;
  bottom: 17%;
  height: 2rem;
  margin: var(--tertiary-margin);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: var(--quaternary-padding) var(--tertiary-padding);
  border-radius: var(--border-radius-light);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-light);
  color: var(--primary-font-color) !important;
  text-transform: capitalize;
  box-shadow: var(--box-shadow-light);
  transition: all 1.4s ease;
  background-color: var(--primary-green);
}

.proj-button:hover {
  cursor: pointer;
}

.proj-button svg {
  position: relative;
  top: 1.5px;
  left: 2px;
  padding: var(--quaternary-padding);
}

.project .proj-languages {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  padding: var(--tertiary-padding) 0;
  background-color: var(--tertiary-background);
  border-radius: var(--border-radius-light) var(--border-radius-light) 0 0;
  box-shadow: var(--box-shadow-heavy);
}

.proj-languages .code-icon svg {
  width: 100%;
  height: 40px;
  padding: var(--tertiary-padding);
  height: 1.5rem;
  margin: auto;
}

.projects .proj-1,
.proj-2,
.proj-3,
.proj-4 {
  z-index: 3;
  background-color: var(--secondary-background);
  color: #fff;
}

.proj-1:hover,
.proj-2:hover,
.proj-3:hover,
.proj-4:hover {
  transform: rotate(30deg) translate(0px, -4rem);
}

/* Media Queries */

@media screen and (max-width: 1680px) {
  .home-greeting .profile-image {
    height: 40px;
    width: 40px;
  }

  .home-greeting .profile-image img {
    height: 40px;
    width: 40px;
  }

  .home-greeting .name {
    font-size: var(--font-size-xl);
  }

  .home-greeting .description {
    color: var(--secondary-font-color);
    font-size: var(--font-size-md);
    padding-bottom: var(--quaternary-padding);
  }

  .home-greeting .greeting {
    font-size: var(--font-size-sm);
    margin: var(--tertiary-margin) 0;
  }

  .home-greeting .code-icon {
    padding: var(--tertiary-padding) var(--tertiary-padding)
      var(--tertiary-padding) 0;
    height: 30px;
    width: 30px;
  }

  .proj-languages .code-icon svg {
    width: 100%;
    height: 30px;
    padding: var(--tertiary-padding);
    height: 1.5rem;
    margin: auto;
  }

  .projects {
    margin: auto;
    height: 90vh;
    width: 50%;
  }
}

@media screen and (max-width: 1280px) {
  .home-greeting .greeting {
    margin: var(--tertiary-margin) 0;
  }

  .home-greeting .code-icon {
    padding: var(--tertiary-padding) var(--tertiary-padding)
      var(--tertiary-padding) 0;
    height: 25px;
    width: 25px;
  }

  .proj-languages .code-icon svg {
    width: 100%;
    height: 25px;
    padding: var(--tertiary-padding);
    height: 1.5rem;
    margin: auto;
  }

  .projects {
    margin: auto;
    height: 85vh;
  }
}

@media screen and (max-width: 1130px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px 0px;
    gap: 0px 0px;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
}

@media screen and (max-width: 1030px) {
  .github-corner > svg {
    color: #fff !important;
    fill: rgb(37, 198, 133) !important;
  }

  .home-greeting-container {
    width: 100%;
  }

  .home-greeting {
    width: 50vw;
  }

  .computer-logo {
    position: relative;
    width: 100%;
    height: 20vh;
    border-radius: var(--border-radius-medium);
  }
}

@media screen and (max-width: 800px) {
  .github-corner > svg {
    color: #fff !important;
    fill: rgb(37, 198, 133) !important;
  }

  .home-greeting-container {
    width: 100%;
  }

  .home-greeting {
    width: 50vw;
  }

  .home-greeting .greeting {
    font-size: var(--font-size-xs);
  }

  .computer-logo {
    position: relative;
    width: 100%;
    height: 20vh;
    border-radius: var(--border-radius-medium);
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "."
      ".";
  }

  .projects .project {
    min-width: 8rem;
  }
}

@media screen and (max-width: 400px) {
  .projects .project {
    min-width: 7rem;
    margin: var(--quaternary-margin);
  }

  .project .proj-description {
    font-size: var(--font-size-xs);
  }
}
