:root {
  /* BACKGROUND COLORS */
  --primary-background: #2a3c44;
  --secondary-background: #30444e;
  --tertiary-background: #3b505a;
  --primary-red: #ff464f;
  --primary-green: #25c685;
  --primary-orange: #ff8a34;
  --primary-yellow: #ffbc25;
  --primary-blue: #005df2;
  --primary-purple: #755fe2;
  --dark-yellow: #625b39;
  --dark-green: #286053;
  --dark-red: #623a42;
  --dark-blue: #163e72;
  --dark-orange: #624d3b;
  --dark-purple: #393d69;
  /* FONT COLORS */
  --primary-font-color: #fff;
  --secondary-font-color: #96a7af;
  /* FONT WEIGHT */
  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-normal: 500;
  --font-weight-heavy: 700;
  /* FONT SIZE */
  --font-size-xs: 0.8rem;
  --font-size-sm: 0.9rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  /* FONT FAMILY */
  --primary-font-family: "Roboto", sans-serif;
  /* SPACING - MARGIN */
  --primary-margin: 4rem;
  --secondary-margin: 2rem;
  --tertiary-margin: 1rem;
  --quaternary-margin: 0.5rem;
  /* SPACING - PADDING */
  --primary-padding: 2rem;
  --secondary-padding: 1rem;
  --tertiary-padding: 0.5rem;
  --quaternary-padding: 0.25rem;
  /* BOX-SHADOW */
  --box-shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  --box-shadow-medium: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  --box-shadow-heavy: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  /* BORDER-RADIUS */
  --border-radius-light: 0.5rem;
  --border-radius-medium: 1rem;
  --border-radius-heavy: 1.5rem;
}

html,
body {
  margin: 0;
  padding: var(--tertiary-padding);
  box-sizing: border-box;
  background-color: var(--primary-background) !important;
  font-family: var(--primary-font-family) !important;
  user-select: none;
}

main-container {
  position: relative;
  height: 100vh;
  weight: 100vw;
}

/* NAV-MENU */

.nav-btn,
.nav-menu {
  box-shadow: var(--box-shadow-medium) !important;
  border: none !important;
  z-index: 999999999999;
}

.nav-btn {
  background-color: var(--primary-green) !important;
  border: 1px solid var(--primary-green) !important;
  color: var(--primary-font-color) !important;
}

.menu-item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  background-color: var(--secondary-background) !important;
  z-index: 999999999999;
}

.item-1 {
  color: var(--primary-red) !important;
}

.item-1:hover {
  background-color: var(--dark-red) !important;
}

.item-1::after {
  border-right: 3px solid var(--primary-red) !important;
}

.item-2 {
  color: var(--primary-orange) !important;
}

.item-2:hover {
  background-color: var(--dark-orange) !important;
}

.item-2::after {
  border-right: 3px solid var(--primary-orange) !important;
}
.item-3 {
  color: var(--primary-yellow) !important;
}

.item-3:hover {
  background-color: var(--dark-yellow) !important;
}

.item-3::after {
  border-right: 3px solid var(--primary-yellow) !important;
}

.item-4 {
  color: var(--primary-purple) !important;
}

.item-4:hover {
  background-color: var(--dark-purple) !important;
}

.item-4::after {
  border-right: 3px solid var(--primary-purple) !important;
}

.ant-menu-item {
  width: 100% !important;
}

/* GITHUB-LINK */
.github-corner > svg {
  z-index: 10000;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* COMPUTER-LOGO */

.computer-logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  padding-bottom: 0;
  background: var(--primary-font-color);
}

/* HOME-GREETING */

.home-greeting-container {
  width: 50%;
  padding-right: var(--secondary-padding);
  height: 100vh;
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  z-index: 0;
}

.home-greeting {
  position: relative;
  width: 25vw;
  height: 50vh;
  background-color: var(--secondary-background);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-light);
  padding: var(--primary-padding);
}

.home-greeting .profile-image {
  height: 50px;
  width: 50px;
  background-color: var(--primary-yellow);
  border-radius: var(--border-radius-heavy);
  margin-bottom: var(--tertiary-margin);
  position: relative;
}

.home-greeting .profile-image img {
  position: absolute;
  height: 50px;
  width: 50px;
}

.home-greeting .name {
  color: var(--primary-font-color);
  font-size: var(--font-size-xl);
}

.home-greeting .description {
  color: var(--secondary-font-color);
  font-size: var(--font-size-md);
}

.home-greeting .greeting {
  font-size: var(--font-size-md);
  border-radius: var(--border-radius-medium);
  color: var(--primary-yellow);
  margin: var(--secondary-margin) auto;
  width: 100%;
}

.code-icon-container {
  position: absolute;
  bottom: var(--primary-padding);
}

.code-icon {
  padding: var(--tertiary-padding);
  height: 50px;
  width: 50px;
}

/* TEST TRANSLATE 3D CARDS */

.projects {
  height: 100vh;
  width: 100%;
  user-select: none;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects > div {
  position: relative;
  width: 280px;
  height: 440px;
  border-radius: 12px;
  color: #fff;
  /* transform: rotateX(45deg) rotateY(-15deg) rotate(45deg); */
  transition: all 0.4s ease;
  overflow: hidden;
  cursor: pointer;
}
.projects .proj-1 {
  z-index: 3;
  background-color: var(--primary-red);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5),
    1px 1px 0px 1px var(--primary-red);
}
.projects .proj-2 {
  z-index: 3;
  background-color: var(--primary-orange);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5),
    1px 1px 0px 1px var(--primary-orange);
}
.projects .proj-3 {
  z-index: 3;
  background-color: var(--primary-yellow);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5),
    1px 1px 0px 1px var(--primary-yellow);
}
.projects .proj-4 {
  z-index: 3;
  background-color: var(--primary-blue);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5),
    1px 1px 0px 1px var(--primary-blue);
}

/* .projects > div:hover {
  transform: rotateX(30deg) rotateY(-15deg) rotate(30deg) translate(-25px, 50px);
}
.projects > div:hover:after {
  transform: translateX(100%);
  transition: all 1.2s ease-in-out;
} */
